.vehicle{
  background-color: #f4f4f4;
}

.vehicle-header, .vehicle-body{
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.vehicle-header h3, .vehicle-header h4{
  margin-right: 10px;
}

.vehicle-body p{
  margin-right: 5px;
}
