<div class="vehicle">
  <mat-card>
    <mat-card-title><h2><b>{{ vehicle.brand }} {{vehicle.brand_type}}</b></h2></mat-card-title>
    <mat-card-subtitle>
      <mat-grid-list cols="3" rowHeight="30px">
        <mat-grid-tile>
          <p><b>Jármű típusa: </b> {{vehicle.type}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Márka: </b> {{vehicle.brand}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Márka típusa: </b> {{vehicle.brand_type}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Státusz: </b> {{vehicle.status}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Kilométer óra állás: </b> {{vehicle.km}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Rendszám: </b> {{vehicle.license_plate_number}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Beszerzés dátuma: </b> {{pipe.transform(vehicle.procurement_date, 'd/M/yyyy')}}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Ár (km): </b> {{vehicle.km_price}} Ft</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p><b>Ár (nap): </b> {{vehicle.daily_price}} Ft</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-subtitle>
    <mat-card-actions align="end" *ngIf="vehicle.status != 'selejtezett' && vehicle.status !='kikölcsönzött'">
      <button mat-button class="selejt" (click)="onScrapping(vehicle)">Selejtezés</button>
    </mat-card-actions>
  </mat-card>
</div>
<br>

